.container{
    position: relative;
    top: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
}

.functionality-container{
    margin: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.functionality-wrapper{
    margin: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cat-title{
    color: white;
    font-size: 1.6rem;
}

.verify-response-success{
    color: rgb(83, 117, 83);
    margin-top: 6rem;
}

.verify-response-failure{
    color: rgb(199, 65, 65);
    margin-top: 6rem;
}

@media screen and (max-width: 692px) {
    .container{
        flex-direction: column;
        top: 20vh;
    }
    .functionality-container{
        margin-bottom: 2rem;
    }
}